# Cache, temp and personal files

https://www.mindphp.com/%E0%B8%84%E0%B8%B9%E0%B9%88%E0%B8%A1%E0%B8%B7%E0%B8%AD/73-%E0%B8%84%E0%B8%B7%E0%B8%AD%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3/2554-htaccess-%E0%B8%84%E0%B8%B7%E0%B8%AD%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3.html/.htaccess
http://www.digitalschool.club/digitalschool/math2_2_1/math11/more/page05.php.log

# Cache
/cache/https://cav.receita.fazenda.gov.br/autenticacao/
[https://clients.prohosterz.com/index.php?rp=/knowledgebase/99/Speed-up-your-site-with-htaccess-caching-modexpires-and-modheaders-.html/cache/.htaccess]
[https://code.forgejo.org/forgefriends/forgefriends.rss/cache/cachefs/index.php]
[https://docs.jboss.org/hibernate/orm/7.0/deprecated/deprecated.txt/cache/deprecated.txt]
[https://blog.martinfjordvald.com/implementing-full-page-caching-with-nginx-and-php//cache/index.php]
[https://poweredcache.github.io/docs/dropins_page-cache.php.html/cache/purifier/index.php]
[https://ieeexplore.ieee.org/document/1316085/cache/push/activity]
[https://www.google.co.th/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiLhq7m9cSJAxUiTWwGHQnHL2MQFnoECAgQAQ&url=https%3A%2F%2Fcrystal.uta.edu%2F~kumar%2Fcse6306%2Fpapers%2Fteam3a.pdf&usg=AOvVaw1N-cYwqiOZ2lC2bELcSasA&opi=89978449/cache/push/index.php]
[https://docs.buildstream.build/master/using_config.html/cache/push/trends]
[https://docs.joomla.org/Cache_Basic_API_Guide/cache/sandbox/index.php]
[https://smarty-php.github.io/smarty/stable/api/caching/basics//cache/smarty/cache/index.php]
[http://earthlyroots.co.uk/prestashop/cache/smarty/compile/22/34/d6//cache/smarty/compile/index.php]
[https://smarty-php.github.io/smarty/stable/api/caching/multiple-caches-per-template//cache/smarty/index.php]
[https://www.tokyojazzpulse.timsparlour.com//plugins/tcpdf/cache/cache/tcpdf/index.php]

# Download
/download/*
!/download/.htaccess
!/download/index.php

# Images
/img/*
!/img/.htaccess
!/img/index.php
!/img/404.gif
!/img/bg_500.png
!/img/bg_loader.png
!/img/favicon.ico
!/img/loader.gif
!/img/loadingAnimation.gif
!/img/logo.jpg
!/img/logo.png
!/img/logo_invoice.jpg
!/img/logo_stores.png
!/img/macFFBgHack.png
!/img/prestashop-avatar.png
!/img/prestashop@2x.png
!/img/preston-login-wink@2x.png
!/img/preston-login@2x.png
!/img/questionmark.png
!/img/genders/index.php
!/img/admin/index.php
!/img/c/index.php
!/img/cms/index.php
!/img/co/index.php
!/img/jquery-ui
!/img/l/index.php
!/img/m/index.php
!/img/os/index.php
!/img/p/index.php
!/img/s/index.php
!/img/scenes
!/img/st/index.php
!/img/su/index.php
!/img/t/index.php
!/img/tmp/index.php

# Upload
/upload/*
!/upload/.htaccess

/vendor/*
/docs/phpdoc-sf/
/composer.lock
*.hot-update.js
*.hot-update.json


/admin-dev/autoupgrade/*
!/admin-dev/autoupgrade/index.php
!/admin-dev/autoupgrade/backup/index.php

/admin-dev/backups/*
!/admin-dev/backups/.htaccess

/admin-dev/import/*
!/admin-dev/import/.htaccess
!/admin-dev/import/index.php

/admin-dev/export/*
!/admin-dev/export/.htaccess
!/admin-dev/export/index.php

# Downloaded RTL files
/admin-dev/themes/default/css/bundle/default_rtl.css
/admin-dev/themes/default/css/bundle/shared_rtl.css
/admin-dev/themes/default/css/font_rtl.css
/admin-dev/themes/default/css/overrides_rtl.css
/admin-dev/themes/default/css/vendor/font-awesome/font-awesome_rtl.css
/admin-dev/themes/default/css/vendor/nv.d3_rtl.css
/admin-dev/themes/default/css/vendor/titatoggle-min_rtl.css
/admin-dev/themes/default/public/theme_rtl.css
/admin-dev/themes/new-theme/css/module/drop_rtl.css
/admin-dev/themes/new-theme/css/right-sidebar_rtl.css

themes/*/cache/*

# Config

config/settings.inc.php
config/settings.old.php
config/xml/*
config/themes/*
!config/xml/themes/default.xml
themes/*/config/settings_*.json
app/config/parameters.old.yml
app/config/config.php

# Themes, modules and overrides

modules/*
override/*
themes/*/
!themes/classic
!themes/_core
!themes/_libraries

# Vendors and dependencies

bower_components/
node_modules/
composer.phar
php-cs-fixer
.grunt/*

# Translations and emails templates

translations/*
mails/*
!mails/themes/
!mails/_partials/
themes/default-bootstrap/lang/*
themes/default-bootstrap/modules/*/translations/*.php
themes/default-bootstrap/mails/*
!themes/default-bootstrap/mails/en/
themes/default-bootstrap/modules/*/mails/*
!themes/default-bootstrap/modules/*/mails/en

# MISC

[*sitemap.xml.www.loei.go.th]
[/robots.txt.connetc.egov.go.th]
[*sitemap.xml.https://www.bora.dopa.go.th/tag/p42/]
[/robots.txt.connetc.egov.go.th]
[*sitemap.xml.https://www.pea.co.th/en]
[/robots.txt.connetc.egov.go.th]
[*sitemap.xml.https://www.royalthaipolice.go.th/]
[/robots.txt.connetc.egov.go.th]
*sitemap.xml.
/robots.txt.
*sitemap.xml.
/robots.txt.
*sitemap.xml.
/robots.txt.
*sitemap.xml.
# Symfony

/bin/
/app/Resources/geoip/GeoLite2-City.mmdb
/app/Resources/translations/*
!/app/Resources/translations/default
/app/config/parameters.yml
/app/config/parameters.php
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

